@import "__vars";
@import "__mixins";
@import "smart-grid";


/******************* it-accordion_drop2 *******************/

.it-accordion_drop2__dropdown-list {
  margin: 0;
  padding: 0 0;
}

.it-accordion_drop2__dropdown-toggle {
  padding: 0;
}

.it-accordion_drop2__dropdown-title {
  color: #37C386;
  text-decoration: underline;
  padding-bottom: 20px;
  cursor: pointer;
}

.it-accordion_drop2__inner-wrap {
  font-size: 14px;
  color: #37C386;
}

.it-accordion_drop2__item {
  list-style-type: none;
}

.it-accordion_drop2__toggle {
  padding: 5px 20px 10px 30px;
  display: flex;
  font-weight: 700;
  flex-wrap: wrap;
  align-items: center;
  cursor: pointer;
  position: relative;

  font-size: 16px;
}

.it-accordion_drop2__title {
  font-size:  14px;
  flex-grow: 1000;
  flex-basis: 400px;
  color: rgba(0, 0, 0, 0.54);
}


.it-accordion_drop2__sign-wrap {
  position: absolute;
  top: 50%;
  left: -26px;
  width: 43px;
  height: 43px;
  margin-top: -21.5px;
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.it-accordion_drop2__sign {
  transition: all 0.3s ease;
  border: 5px solid transparent;
  border-left: 5px solid $main-color;
}

.it-accordion_drop2__sign-wrap.active .it-accordion_drop2__sign {
  transform: rotate(90deg);
  top: 54%;
}

.it-accordion_drop2__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  padding-right: 0;
  @include phones {
    padding-left: 15px;
  }
}

.it-accordion_drop2__desc {
  width: 100%;
  font-weight: 300;
  font-family: "Ubuntu", sans-serif;
  flex-basis: 400px;
  flex-grow: 1000;
  margin: 0;
  padding: 0;

}

.it-accordion_drop2__desc-half {
  padding: 10px 3%;
  font-size: rem(14px);
  min-height: 100px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  word-wrap: break-word;

}

.it-accordion_drop2__desc-half-wrap {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  
  


}

.it-accordion_drop2__desc-half--left {
  width: 30%;


}

.it-accordion_drop2__desc-half--right {
  width: 70%;
  padding-right: 10px;
  border-left: 1px solid rgba(0, 0, 0, 0.2);

}

.it-accordion_drop2__desc-half-wrap:nth-child(odd) .it-accordion_drop2__desc-half--right {
  background: #E8EDFC;
  border-left: none;

}

.it-accordion_drop2__dropdown-list .it-accordion_drop2__content {
  padding: 0;
}

.it-accordion_drop2__desc-half span {
  color: #37C386;
}

.it-accordion_drop2__wrap {
  margin: 0;
  padding: 0;
}

