@import "__vars";
@import "__mixins";
@import "smart-grid";

.it-advantages__wrap {
  position: relative;
}

.it-advantages__wrap:before {
    content: "";
    display: block;
    position: absolute;
    width: 110%;
    height: 100%;
    top: 40px;
    bottom: 0;
    left: -38px;
    right: 0;
    background: url("../img/advantages/bg.png") top left no-repeat;
  @include desktop{
    display: none;
  }
}

.it-advantages__list {
  padding: 0;
  margin-top: 0;
  margin-bottom: -60px;
  @include row-flex();
}

.it-advantages__item {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0 0;
  margin-bottom: 60px;
  @include col();
  @include size(4);
  @include size-sm(6);
  @include size-xs(12);
  @include phones {
    margin-bottom: 30px;
  }
}

.it-advantages__inner-item {
  max-width: 310px;
  width: 100%;
}


.it-advantages__title {
  font-size: rem(16px);
  font-weight: 700;
  margin-bottom: 12px;
  color: #333333;
}

.it-advantages__number {
  font-size: rem(30px);
  font-weight: 700;
  margin-bottom: 15px;
  position: relative;
}

.it-advantages__number:before {
	content: '';
	display: block;
	position: absolute;
	bottom: -3px;
	left: 0;
	width: 38px;
	height: 5px;
    background-color: $main-color;
}

.it-advantages__desc {
  font-weight: 300;
  font-size: rem(14px);
  color: rgba(0, 0, 0, 0.54);
}