@import "__vars";
@import "__mixins";
@import "smart-grid";


.it-calculation__wrap {
  display: flex;
  flex-wrap: wrap;
}

.it-calculation__top {
  width: 50%;
  @include tablets {
    width: 100%;
  }
}

.it-calculation__bottom {
  width: 50%;
  @include tablets {
    width: 100%;
  }
}

.it-calculation__top-half {
  margin-bottom: 35px;
  @include tablets {
    margin-bottom: 20px;
  }
}

.it-calculation__top-half--right {

}


.it-calculation__time {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.it-calculation__time-check {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  border: 1px solid rgba(159, 163, 176, 1);
  margin-right: 28px;
}

.it-calculation__time-text-top {
  font-size: rem(16px);
  margin-bottom: 5px;
  color: rgba(0, 0, 0, 0.87);
}

.it-calculation__time-text {
  padding-right: 50px;
}

.it-calculation__time-bottom {
  color: rgba(0, 0, 0, 0.54);
  font-size: rem(14px);
}



.it-calculation__other-info-link {
  background-color: #37C386;
  color: #ffffff;
  padding: 10px 10px;
  text-align: center;
  font-weight: 400;
  max-width: 300px;
  width: 100%;
  flex-basis: 100px;
  flex-grow:1;
  text-decoration: none;
  display: block;
}

.it-calculation__other-info-price {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

}

.it-calculation__other-info-price-number {
  font-size: rem(26px);
  color: #363636;
  margin-right: 15px;
}

.it-calculation__other-info-price-left {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.it-calculation__other-info-price-rub {
  font-size: 9px;
  margin-bottom: 4px;
  padding-bottom: 4px;
  position: relative;
}

.it-calculation__other-info-price-rub:before {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 18px;
  height: 1px;
  background-color: #9FA3B0;
}

.it-calculation__other-info-price-month {
  font-size: 9px;
}

.it-calculation-form__wrap {
  padding: 5% 2%;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.2);

}

.it-calculation-form__title {
  text-align: center;
  color: rgba(0, 0, 0, 0.87);
  font-size: rem(18px);
  font-weight: 700;
  margin-bottom: 50px;
  @include phones {
    margin-bottom: 30px;
  }
}

.it-calculation-form__input-title-text {
  font-size: rem(14px);
  color: rgba(0, 0, 0, 0.87);
  margin-bottom: 15px;
}

.it-calculation-form__input-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin: 0 -6px -20px;
  overflow: hidden;
}

.it-calculation-form__half {
  max-width: 260px;
  flex-grow: 1000;
  flex-basis: 10px;
  margin: 0 6px 20px;
  position: relative;
}

.it-calculation-form__input::-webkit-input-placeholder {
  color: rgba(51, 51, 51, 0.5);
}

.it-calculation-form__input::-moz-placeholder {
  color: rgba(51, 51, 51, 0.5);
}

.it-calculation-form__input:-ms-input-placeholder {
  color: rgba(51, 51, 51, 0.5);
}

.it-calculation-form__input:-moz-placeholder {
  color: rgba(51, 51, 51, 0.5);
}




.it-calculation-form__input--color::-webkit-input-placeholder {
  color: $main-color;
}

.it-calculation-form__input--color::-moz-placeholder {
  color: $main-color;
}

.it-calculation-form__input--color:-ms-input-placeholder {
  color: $main-color;
}

.it-calculation-form__input--color:-moz-placeholder {
  color: $main-color;
}


.it-calculation-form__input {
  border: 1px solid rgba(0, 0, 0, 0.2);
  font-size: rem(14px);
  padding: 9px 20px;
  color: rgba(51, 51, 51, 0.5);
  width: 100%;
  line-height: 1.42;
  background-color: #ffffff;
}



.it-calculation-form__equally {
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  width: 12px;
  height: 7px;
  margin-top: 50px;
  @include phones {
    margin-top: 60px;
  }

}

.it-calculation__error {
  border-color: red;
}

.it-calculation__error-text {
  display: none;
}

.it-calculation__error +.it-calculation__error-text {
  display: block;
  position: absolute;
  bottom: -18px;
  left: 0;
  font-size: 12px;
  color: red;
}

.it-calculation-form__input--color {
  border: none;
  font-size: rem(20px);
  font-weight: 700;
  color: $main-color;
  padding: 7px 20px;
  @include tablets {
    font-size: rem(16px);
  }
}


