@import "__vars";
@import "__mixins";
@import "smart-grid";

.it-offer {;
  background: url("../img/main-offer/bg.jpg") no-repeat top;
  background-size: cover;
  position: relative;
}

.it-offer:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.it-offer__wrap {
  padding: 7% 0 20%;
  position: relative;
}

.it-offer__title {
  font-size: rem(48px);
  font-weight: 700;
  margin-bottom: 20px;
  color: #ffffff;
  @include phones {
    font-size: rem(36px);
  }
}

.it-offer__subtitle {
  font-size: rem(24px);
  font-weight: 300;
  margin-bottom: 40px;
  color: #ffffff;
}

.it-offer__subtitle span {
  font-size: rem(24px);
  font-weight: 700;
  color: $main-color;
}

.it-offer__buttons {
  max-width: 370px;
  width: 100%;
  display: inline-block;

}

.it-offer__buttons .it-offer__btn {
  padding: 15px 10px;
}


/* ---------------------------------------------- /*
 * Mouse animate icon
/* ---------------------------------------------- */

.it-offer__mouse-icon {
  position: absolute;
  left: 50%;
  bottom: 40px;
  border: 2px solid #fff;
  border-radius: 16px;
  height: 40px;
  width: 26px;
  margin-left: -13px;
  display: block;
  z-index: 10;
}

.it-offer__wheel {
  position: relative;
  border-radius: 10px;
  background: #fff;
  width: 3px;
  height: 7px;
  top: 4px;
  margin-left: auto;
  margin-right: auto;
  -webkit-animation-name: drop;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-play-state: running;
  animation-name: drop;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-play-state: running;
}


@-webkit-keyframes drop	{
  0%   { top:5px;  opacity: 0;}
  30%  { top:10px; opacity: 1;}
  100% { top:25px; opacity: 0;}
}

@keyframes drop	{
  0%   { top:5px;  opacity: 0;}
  30%  { top:10px; opacity: 1;}
  100% { top:25px; opacity: 0;}
}
