@import "__vars";
@import "__mixins";
@import "smart-grid";

.it-number__wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow: hidden;
  @include laptop {
    justify-content: center;
    margin: 0 -15px;
  }
}

.it-number__half {
  padding-top: 20px;
  max-width: 270px;
  @include laptop {
    margin: 0 15px;
    text-align: center;
  }
}

.it-number__title {
  color: $main-color;
  font-size: rem(50px);
  margin-bottom: 20px;
  @include laptop {
    width: 100%;
  }
}

.it-number__title span {
  color: $main-color;
  font-size: rem(24px);
}

.it-number__subtitle {
  color:  rgba(0, 0, 0, 0.87);
  font-weight: 300;
  @include laptop {
    width: 100%;
  }
}