// --------------------- it-accordion2 -------------------------
section.it-accordion2
	.it-container
		.it-all-title
			| Ответы на часто задаваемые вопросы:
		ul.it-accordion2__wrap(data-it-accord-wrap='')
			li.it-accordion2__item
				.it-accordion2__toggle(data-it-accord-toggle='')
					.it-accordion2__sign-wrap(data-it-sign='')
						.it-accordion2__sign
					.it-accordion2__title
						| Какие могут быть последствия при невыполнении требований по размещению информации в ГИС ЖКХ?
				.it-accordion2__content(data-it-accord-item='')
					.it-accordion2__desc
						| Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascльную путевку входит: размещение, питание, бассейн 1 раз в сутки, медицинские услуги(кислородный коктейль и галокамера), досуг.
			li.it-accordion2__item
				.it-accordion2__toggle(data-it-accord-toggle='')
					.it-accordion2__sign-wrap(data-it-sign='')
						.it-accordion2__sign
					.it-accordion2__title
						| Какие сведения и как часто надлежит раскрывать в ГИС ЖКХ?
				.it-accordion2__content(data-it-accord-item='')
					.it-accordion2__desc
						| Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nasc               В оздоровительную путевку входит: размещение, питание, бассейн 1 раз в сутки, медицинские услуги(кислородный коктейль и галокамера), досуг.
			li.it-accordion2__item
				.it-accordion2__toggle(data-it-accord-toggle='')
					.it-accordion2__sign-wrap(data-it-sign='')
						.it-accordion2__sign
					.it-accordion2__title
						| Нужно ли дублировать информацию на сайте Реформа ЖКХ, тем регионам, где подписано соглашение об опытной эксплуатации ГИС ЖКХ?
				.it-accordion2__content(data-it-accord-item='')
					.it-accordion2__desc
						| Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nasc
			li.it-accordion2__item
				.it-accordion2__toggle(data-it-accord-toggle='')
					.it-accordion2__sign-wrap(data-it-sign='')
						.it-accordion2__sign
					.it-accordion2__title
						| Как настроить процесс обмена данными так, чтобы он работал сам?
				.it-accordion2__content(data-it-accord-item='')
					.it-accordion2__desc
						|	Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nasc
