// --------------------- it-accordion_drop2 -------------------------
section.it-accordion_drop2
	.it-container
		.it-all-title
			| Ответы на часто задаваемые вопросы:
		ul.it-accordion_drop2__wrap(data-it-accord-wrap='')
			li.it-accordion_drop2__item
				.it-accordion_drop2__toggle(data-it-accord-toggle='')
					.it-accordion_drop2__sign-wrap(data-it-sign='')
						.it-accordion_drop2__sign
					.it-accordion_drop2__title
						| ГИС ЖКХ
				.it-accordion_drop2__content(data-it-accord-item='')
					.it-accordion_drop2__desc
						ul.it-accordion_drop2__wrap(data-it-accord-wrap='')
							li.it-accordion_drop2__item
								.it-accordion_drop2__toggle(data-it-accord-toggle='')
									.it-accordion_drop2__sign-wrap(data-it-sign='')
										.it-accordion_drop2__sign
									.it-accordion_drop2__title
										| Какие могут быть последствия при невыполнении требований по размещению информации в ГИС ЖКХ?
								.it-accordion_drop2__content(data-it-accord-item='')
									.it-accordion_drop2__desc
										| Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascльную путевку входит: размещение, питание, бассейн 1 раз в сутки, медицинские услуги(кислородный коктейль и галокамера), досуг.
