section.it-advantages
	.it-container
		.it-all-title Как начать с нами сотрудничать?
		.it-advantages__wrap
			ul.it-advantages__list
				li.it-advantages__item
					.it-advantages__inner-item
						.it-advantages__number
							| 1
						.it-advantages__title
							|	Заполнить заявку
						.it-advantages__desc
							|    Пользователь заполняет заявку,
							| где указыват ИНН компании
							| и соглашается на договор оферты
				li.it-advantages__item
					.it-advantages__inner-item
						.it-advantages__number
							| 2
						.it-advantages__title
							|    Выписать разрешение в ГИС ЖКХ на обработку информации
						.it-advantages__desc
							|    На почту пользователя приходит уведомление о принятии заявки и инструкцией, как выписать разрешение в системе ГИС ЖКХ для компании "Жилищный стандарт" на обработку публичной информации.
				li.it-advantages__item
					.it-advantages__inner-item
						.it-advantages__number
							| 3
						.it-advantages__title
							|    Получить от "Жилищного стандарта" полный анализ ситуации
						.it-advantages__desc
							|    Экспортируем из ГИС ЖКХ всю информацию, относящуюся к УК, анализируем данные и распределяем их в системе с рекомендациями для пользователей.
				li.it-advantages__item
					.it-advantages__inner-item
						.it-advantages__number
							| 4
						.it-advantages__title
							|    Авторизоваться в программе
						.it-advantages__desc
							|    Высылаем пользователю логин и пароль для входа в программу,
							| где уже есть список рекомендаций
							| и инструкции, как добавлять и исправлять информацию в ГИС ЖКХ
				li.it-advantages__item
					.it-advantages__inner-item
						.it-advantages__number
							| 5
						.it-advantages__title
							|    Пройти обучение от специалистов "Жилищного стандарта"
						.it-advantages__desc

							|    Мы презентуем продукт, подробно расскажем о всех его функциях, проведем обучение сотрудников.
							br
							|	У вас не возникнет вопросов, как пользоваться нашим програмным обеспечением, интерфейс интуитивно понятный. Реализована интеграция с 1С.
				li.it-advantages__item
					.it-advantages__inner-item
						.it-advantages__number
							|6
						.it-advantages__title
							|    Начать экономить время, нервы
							| и деньги с нашим ПО
						.it-advantages__desc
							|    На все вопросы, которые возникнут у вас в ходе работы, оперативно ответят специалисты нашей технической поддержки! А вы, тем временем, сможете навести порядок в данных.