section.it-offer
    .it-container
        .it-offer__wrap
            .it-offer__title
                | Автоматизация раскрытия информации
            .it-offer__subtitle
                | Программное обеспечение для размещения информации на сайтах
                span
                    |   ГИС ЖКХ
                |   ,
                br
                span
                    |   Реформа ЖКХ
                |   и
                span
                    |   сайте УК
            .it-offer__buttons
                a.it-btn.it-offer__btn(href='#', data-modal='') Первые 4 месяца - платеж 10 руб/мес
            .it-offer__mouse-icon
                .it-offer__wheel