section.it-video.it-all--indent
	.it-container
		.it-all-title
			|	Какой функционал есть у ПО?
		.it-video__wrap
			.it-video__half.it-video__half--left
				iframe(width='100%', height='100%', src="https://www.youtube.com/embed/io9AGPtqfQU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen="")
			.it-video__half.it-video__half--right
				.it-video__content
					.it-video__title Возможности АСУ "Жилищный Стандарт":
					ul.it-video__list
						li.it-video__item Автоматический экспорт/импорт данных с ГИС ЖКХ
						li.it-video__item Автоматический экспорт/импорт данных с Реформой ЖКХ
						li.it-video__item Массовая работа с данными с помощью шаблонов в формате xlsx
						li.it-video__item Обмен данными с внешними информационными системами
						li.it-video__item Автоматическое представление данных по 882-П на сайте УК
						li.it-video__item Автоматизация основных бизнес-процессов Управляющей компании;
						li.it-video__item Структурирование всех данных в соответствии с требованиями к последующей выгрузке на ГИС ЖКХ