section.it-offer
    .it-container
        .it-offer__wrap
            .it-offer__title
                | Автоматизация раскрытия информации
            .it-offer__subtitle
                | Программное обеспечение для работы с сайтами
                span
                    |   ГИС ЖКХ
                |   и
                span
                    |   Реформа ЖКХ.
            .it-offer__buttons
                a.it-btn.it-offer__btn(href='#it-modal2', data-modal='') Первые 6 месяцев - платеж 10 руб/мес
