section.it-number
	.it-container
		.it-all-title
			|	"Жилищный стандарт" в цифрах:
		.it-number__wrap
			.it-number__half
					.it-number__title
						|	42 млн+
					.it-number__subtitle
						|    Квадратных метров, по которым
						| на ГИС ЖКХ раскрывается информация наших клиентов
			.it-number__half
					.it-number__title
						|    17
						span
							|    регионов
					.it-number__subtitle
						|    География работы компании
			.it-number__half
					.it-number__title
						|    200 +
					.it-number__subtitle
						|    Клиентов компании
						br
						| по всей стране
