section.it-reviews2
	.it-container
		.it-all-title
			|	Отзывы наших клиентов:
		.it-reviews2__wrap.box-carousel.owl-carousel
			.it-reviews2__inner-wrap
				.it-reviews2__half.it-reviews2__half--left
					.it-reviews2__img-wrap
						img(src="static/img/reviews2/1.jpg", alt='').it-reviews2__img
				.it-reviews2__half.it-reviews2__half--right
					.it-reviews2__content
						.it-reviews2__desc
							|	С помощью АСУ мы упростили работу с массивом информации, необходимой для раскрытия. Мы используем удобные формы, а также работаем непосредственно с интерфейсом АСУ для внесения и автоматической передачи информации на наш сайт
						.it-reviews2__adress
							|	УК «Орджоникидзевская»
						.it-reviews2__city
							|	Екатеринбург
			.it-reviews2__inner-wrap
				.it-reviews2__half.it-reviews2__half--left
					.it-reviews2__img-wrap
						img(src="static/img/reviews2/1.jpg", alt='').it-reviews2__img
				.it-reviews2__half.it-reviews2__half--right
					.it-reviews2__content
						.it-reviews2__desc
							|    С помощью АСУ мы упростили работу с массивом информации, необходимой для раскрытия. Мы используем удобные формы, а также работаем непосредственно с интерфейсом АСУ для внесения и автоматической передачи информации на наш сайт
						.it-reviews2__adress
							|    УК «Орджоникидзевская»
						.it-reviews2__city
							|    Екатеринбург

