// --------------------- it-why -------------------------

section.it-why.it-all--indent
	.it-container
		.it-all-title Какие проблемы решает наше програмное обеспечение?
		.it-why__wrap.box-carousel.owl-carousel
			.it-why__inner-wrap
				.it-why__half.it-why__half--left
					.it-why__content
						.it-why__img-box.it-why__img-box--left
						.it-why__title
							| Штрафы до 300 000 руб.
						.it-why__desc
							| Нарушение условий обязательного раскрытия информации влечет за собой наложение штрафов для: должностных лиц до
							b
								| 50 000 руб.
							|	- юридических лиц
							b
								|	до 300 000 руб.


				.it-why__half.it-why__half--right
					.it-why__content
						.it-why__img-box.it-why__img-box--right
							img.it-why__img(src="static/img/why/1.png", alt='')
						.it-why__title.it-why__title--color
							| ПО покажет проблемные моменты
							br
							| и поможет избежать штрафов
						.it-why__desc.it-why__desc--color Программа анализирует массив данных ГИС ЖКХ и Реформа ЖКХ, после чего дает рекомендации, показывает, какие данные были выгружены неправильно
			.it-why__inner-wrap
				.it-why__half.it-why__half--left
					.it-why__content
						.it-why__img-box.it-why__img-box--left
						.it-why__title
							| Штрафы до 300 000 руб.
						.it-why__desc
							| Нарушение условий обязательного раскрытия информации влечет за собой наложение штрафов для: должностных лиц до
							b
								| 11111111111111111150 000 руб.
							|    - юридических лиц
							b
								|    до 300 000 руб.


				.it-why__half.it-why__half--right
					.it-why__content
						.it-why__img-box.it-why__img-box--right
							img.it-why__img(src="static/img/why/1.png", alt='')
						.it-why__title.it-why__title--color
							| ПО покажет проблемные моменты
							br
							| и поможет избежать штрафов
						.it-why__desc.it-why__desc--color Программа анализирует массив данных ГИС ЖКХ и Реформа ЖКХ, после чего дает рекомендации, показывает, какие данные были выгружены неправильно
			.it-why__inner-wrap
				.it-why__half.it-why__half--left
					.it-why__content
						.it-why__img-box.it-why__img-box--left
						.it-why__title
							| Штрафы до 300 000 руб.
						.it-why__desc
							| Нарушение условий обязательного раскрытия информации влечет за собой наложение штрафов для: должностных лиц до
							b
								| 11111111111111111150 000 руб.
							|    - юридических лиц
							b
								|    до 300 000 руб.


				.it-why__half.it-why__half--right
					.it-why__content
						.it-why__img-box.it-why__img-box--right
							img.it-why__img(src="static/img/why/1.png", alt='')
						.it-why__title.it-why__title--color
							| ПО покажет проблемные моменты
							br
							| и поможет избежать штрафов
						.it-why__desc.it-why__desc--color Программа анализирует массив данных ГИС ЖКХ и Реформа ЖКХ, после чего дает рекомендации, показывает, какие данные были выгружены неправильно


